* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #header {
    padding-left: 33px;
    padding-right: 33px;
    height: 55px;
    background-color: #bb2019;
    display: flex;
    align-items: center;
}

#header .logo {
    height: 30px;
    width: 30px;
    background-color: #fff;
    border-radius: 50%;
}

#header .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

